<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          Machine Cheat Sheet  <span class="label label-warning">Beta</span>
        <% end %>
        <% if controller_name == "machines" && action_name == "show" %>
          <p class="navbar-text navbar-right"><%= @machine.title %></p>
        <% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container-fluid -->
  </nav>
</div>