<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <%= simple_form_for([:admin, @identifier]) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
            <%= f.input :identifier %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>