.autocomplete ul {
    list-style: none;
    background-color: #fff;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.autocomplete li {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  padding: 10px 8px;
  font-size: 13px;
  list-style-type: none;
  background-image: none;
  margin: 0;
}
.autocomplete li.active {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}