<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3>Air Filters</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Part Number</th>
              </tr>
            </thead>
            <tbody>
              <% @machine.parts.where("type = ?", "AirFilter").each do |a| %>
                <tr>
                  <td><%= a.brand %></td>
                  <td><%= a.part_number %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>