<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <% @machine.each do |m| %>
                    <tr>
                        <td><%= m.id %></td>
                        <td><%= m.title %></td>
                        <td><%= time_ago_in_words(m.created_at) %> ago</td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>